/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #2f0a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1 {
    text-align: center;
    color: #02B398;
    margin-bottom: 30px;
    height: 80%;
    margin: 5px;
    background-color: #000000ab;
    border: 2px solid #3B2849;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 4px rgb(86 161 239 / 10%);
}
h2 {
    color: #02F6D0;
    margin: 0;
    font-size: 18px;
    text-align: center;
}
h3 {
    color: #02F6D0;
    margin: 0;
    font-size: 22px;
    text-align: center;   
}
label {
    font-size: large;
    display: flex;
    font-weight: bold;
    margin-top: 10px;
    color: #02F6D0;
    justify-content: center;
}
/* Inputs e selects */
input[type="text"],
textarea,
select,span {
    text-align: center;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #3B2849;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}
span{
    margin-left: 5px;
}
p{
    text-align: center;
    font-size: 18px;
    color: #fff;
}
a{
    text-align: center;
    font-size: 18px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #3B2849;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff; 
}
/* Estilo para hover em inputs e selects */
input[type="text"]:hover,
textarea:hover,
select:hover {
    border-color: #3498db;
}

/* Estilo para focus em inputs e selects */
input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #2980b9;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}

/* Container principal */
.mainContainer {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 20px;
    background: #3b004dc9;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.content1 {
    display: grid;
    grid-template-columns: repeat(3,1fr) 2fr;
}
.content1-coluna1, .content1-coluna2, .content1-coluna3, .content1-coluna4{
    background-color: #000000ab;
    margin: 5px;
    border: 2px solid #3B2849;
    border-radius: 10px;
    padding: 20px;
}

.content2,.content3 {   
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.italic {
    font-style: italic;
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
}

.linha {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.coluna {
    padding: 5px;
}


/* Botão de submit */
.submit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.close-button{
    display: block;
    padding: 10px 20px;
    background-color: #272e27;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.submit-btn:hover {
    background-color: #45a049;
}


/* Responsividade */
@media screen and (max-width: 1600px) {
    body{
        width: fit-content;
        background: none;
        background-color: #422C49; 
    }
    .container {
        grid-template-columns: 1fr;
    }
    .propArmamento{
        display: grid;
        grid-template-columns: 1fr;
    }
    .mainContainer {
        width: none;
        margin: 10px;
        padding: 10px;
    }
    .coluna-info{
        display: grid;
        grid-template-columns: 1fr;
    }
    .campo {
        min-width: 100%;
    }

    .section {
        margin: 10px 0;
    }
    .content1 ,.content2,.content3{
        display: grid;
        grid-template-columns: 1fr ;
    }
}
